h1{
    color: aqua;
    text-align: center;
}

body{
    background: linear-gradient(to right,rgb(95, 0, 147),rgb(0, 195, 255));
}

button{
    width: 100px;
    height: 40px;
    font-size: larger;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    margin-left: 44%;
    cursor: pointer;
    box-shadow: inset ;
    color:white;
    background-color: rgb(0, 0, 0);
}


div{
    height:140px;
}

.countdown {
    font-size: 30px;
    color: #333;
    font-weight: bold;
  }